.button {
    position: relative;
    display: inline-block;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.2s, color 0.2s;
    color: red;
}

.primary {
    color: var(--white);
    background-color: var(--primary);
}

.primary:hover {
    background-color: var(--primary-hover);
}

.ghost {
    color: var(--primary);
    background: none;
    border: 1px solid var(--primary);
}

.ghost:hover {
    color: var(--white);
    background-color: var(--primary-hover);
}

.arrow {
    display: inline-block;
    padding-right: 17px;
}

.down {
    transform: rotate(90deg);
    transition: all 0.2s;
}

.arrow::before {
    content: "";
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 10px;
    background-color: red;
    mask: url("../../../public/arrow.svg") no-repeat center / 6px 10px;
    transition: all 0.2s;
}

.arrow:hover::before {
    transform: translateY(-50%) rotate(90deg) ;
}
